<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.10.1" targetFramework="net46" />
  <package id="FreeSpire.PDFViewer" version="2.4.35" targetFramework="net46" />
  <package id="iTextSharp" version="5.5.11" targetFramework="net46" />
  <package id="itextsharp.xmlworker" version="5.5.11" targetFramework="net46" />
</packages>